<html>
<head>

</head>
<body>
    
    <form action="/todo/create" method="POST">

        <label>Description</label>
        <input name="Description"/>

        <br/>

        <button>Salvar</button>

    </form>

</body>
</html>