@model List<Todo> 

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<!-- Comentário HTML -->
@* Comentário C# *@
    <p>@Model.Count()</p>

    <table class="table table-hover">

        @foreach(Todo item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Description</td>
                <td>@item.Done</td>
            </tr>
        }


    </table>
</body>
</html>